<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Career210</title>
    {% include 'bootstrap.html' %}
    <style>
        #banner {
            height: 360px;
            width: 100%;
            object-fit: cover;
        }
    </style>
</head>

<body>
    {% include 'nav.html' %}
    <img id="banner" src="static/Career.png" class="img-fluid" style="padding: 7px;">
    <div class="container">
        <!-- <h1 class="text-center mb-3" style="color:blueviolet">Career210</h1> -->
        <h2 class="text-center mt-2 mb-4" style="color:blueviolet">About Career210</h2>
        <p class="lead">Career210 is a streamlined job portal designed to simplify the job application process. Built using Flask, MySQL (Aiven), HTML, and Bootstrap, it provides a dynamic and responsive platform where job listings are directly reflected from the database. Hosted on Render, Career210 ensures real-time updates—any changes in the MySQL database, such as adding or removing jobs, are instantly visible on the homepage. Users can explore job details, apply seamlessly, and receive instant confirmation, making the hiring process efficient and hassle-free for both job seekers and recruiters.</p>
        <h2 class="text-center mt-2 "style="color:blueviolet">Job Openings</h2>
        <div>
            {% for job in jobs %}
                {% include 'jobss.html' %}
            {% endfor %}
        </div>
        <div class="text-center">
            <a href="mailto:career210@gmail.com?subject=Questions%20and%20Feedback&body=Name%20-%0A%0AQuestions%20-%0A%0AFeedback%20-" class="btn btn-primary">Contact Us</a>
        </div>
        {% include 'footer.html' %}
    </div>
</body>

</html>